.alerts-component {
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-height: 47px;
  padding-top: 0;
  margin: 32px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.alerts-container {
  height: 242px;
  overflow-y: hidden;
}

.alerts-scroll {
  animation: scroll 30s linear infinite;
}

.alert-item {
  display: flex;
  align-items: center;
  padding: 15px;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.alert-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.alert-type {
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 14px;
}

.alert-type.result {
  background-color: #4caf50;
  color: white;
}

.alert-type.cutoff {
  background-color: #2196f3;
  color: white;
}

.alert-type.form {
  background-color: #ff9800;
  color: white;
}

.alert-message {
  flex: 1;
  font-size: 16px;
  color: #333;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
