.map-section {
  height: 900px;
  width: 40%;
  max-width: 1200px;
  margin: 10px auto;
}

@media (max-width: 768px) {
  .map-section {
    height: 200px;
    width: 80vw;
    margin: 20px;
  }
}
/* 
@media (max-width: 480px) {
  .map-section {
    height: 100px;
    width: 300px;
  }
} */

/* Add this to your Map.css file */
.college-popup {
  width: 200px;
  text-align: center;
}

.college-popup-image {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 10px;
}

.college-popup h3 {
  margin: 0 0 5px;
  font-size: 16px;
}

.college-popup p {
  margin: 0 0 5px;
  font-size: 14px;
}

.college-popup button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.college-popup button:hover {
  background-color: #0056b3;
}
